@tailwind base;
@tailwind components;
@tailwind utilities;

.flip-container {
  perspective: 1000px;
}

.flipper {
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-card {
  transform: rotateY(180deg);
}

.front, .back {
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}